version: '2'
services:
  redis:
    container_name: redis
    image: redis
    ports:
     - "6379:6379"
  node:
    container_name: 'action-hero'
    build: ./
    volumes:
      - ./:/orion_dashboard_server/
    ports:
      - "8080:8080"
      - "5000:5000"
    links:
      - redis
    extra_hosts:
     - "kafka:172.30.0.12"
     - "zookeeper:172.30.0.12"
     - "elasticsearchhost:172.30.0.36"
    environment:
      TCP_PORTS: 8080,5000
      ENABLE_TCP_SERVER: "true"
      KAFKA_HOST: '172.30.0.12:29092'
      KAFKA_TOPIC: 'trace-summary-json'
      ELASTICSEARCH_HOST: '172.30.0.36:9200'
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_DB: 0